{%  extends 'base.html' %}
{% load get_thumbnail %}

{% block content %}

<h3>Products tagged '{{ object.title }}'</h3>
    <ul>
    {% for tagged_product in object.products.all %}
      <li><p>{{ tagged_product.title|linebreaks}}</p></li>
      {% if tagged_product.thumbnail_set.count > 0 %}
        <a href="{{ tagged_product.get_absolute_url }}"><img src="{{ tagged_product|get_thumbnail:'micro' }}"><br></a>
      {% else %}
          <a href="{{ tagged_product.get_absolute_url }}"><img src="{{ coming_soon|get_thumbnail:'micro' }}"><br></a>
      {% endif %}
{# We now have a custome filter that can retrn any type of thumbnail :) #}
{#        {% for thumbnail in tagged_product.thumbnail_set.all %}#}
{##}
{#            {% if thumbnail.type == 'sd' %}#}
{#                <img src="{{ thumbnail.media.url }}">#}
{#            {% endif %}#}
{##}
{#        {% endfor %}#}



{#        <img src="{{ tagged_product|get_thumbnail:'micro'}}" >#}
    {% endfor %}

    </ul>

     <a href="{% url 'tags:list' %}"><br> <<< Back to Tags List</a>
{% endblock %}