{% extends 'base.html'%}

{% block content %}

<h1>Products</h1>
<ul>
    {#  object_list is a  built-in variable for ListView class #}
    {% for instance in object_list %}
        <li> {{ instance }}: {{ instance.description }} - ${{ instance.price }} <a href="{% url 'product_detail_view' instance.id %}">Details</a></li>
        <br></li>
    {% empty %}
        <li>No Products have been registered yet</li>
    {% endfor %}
</ul>

{# Allow authenticated users to create new products   #}
{% if request.user.is_authenticated %}
    <form action="{% url 'product_add_view' %}">
        <input type="submit" value="Add a New Product" />
    </form>
{% endif %}

{% endblock %}