{%  extends 'base.html' %}

{% block content %}
    {{ block.super }}   {# we are importing the content #}
                        {# from the parent's block! #}
    <h1>{{ greeting }}</h1>
    <h4>Here are the product details</h4>

    {#  object is a variable for DetailView class  #}
    <h3>Product: {{ object }}</h3>
    <h3>Title: {{ object.title }}</h3>
    <i>{{ object.description }}</i>
    <p>Price: {{ object.price }}</p>
    <p>Sale Price: {{ object.sale_price }}</p>
    <p>Is available: {{ object.is_available }}</p>


    {# Media has to exist #}
    {# User has to be authenticated #}
    {# And has to have this product in his products to see the download/preview links #}
    {% if object.media and request.user.is_authenticated and object in request.user.myproducts.products.all %}

        <p><a href="{{ object.get_download }}?preview=True">Preview (if possible)</a></p>

        {#  object.get_download here is the same as {% url 'products:download' object.id %} #}
        <form action="{{ object.get_download }}">
            <input type="submit" value="Download Media" />
        </form>
        <br>
    {% endif %}

    {# Show the edit option for product owners and managers  #}
    {% if allowed_to_edit %}
        <form action="{% url 'products:edit' object.id %}">
            <input type="submit" value="Edit Product" />
        </form>
    {% endif %}

{% endblock %}