{% extends 'base.html' %}

{% load get_thumbnail %}

{% block content %}
    {{ block.super }}   {# we are importing the content #}
                        {# from the parent's block! #}

{# Purchase dialog #}
<script>
$(document).ready(function(){

{% block jquery %}
    $('#purchase-btn').click(function (event) {
        event.preventDefault();
        var purchaseBtn = $(this)
        $('#dialog-confirm').fadeIn('300');
        $('#dialog-confirm').dialog({
            resizable: false,
            height: 220,
            width: 350,
            modal: true,
            buttons: {
                1: {
                    id: 'confirm',
                    text: 'Confirm',
                    click: function () {
                        console.log('Purchase confirmed');
                         var request = $.ajax({
                            url: "{% url 'checkout' %}",
                            method: 'POST',
                            data: {
                                product_id: "{{ object.id }}"
                            }
                        });

                        request.done(function (data) {
                            console.log('Purchased {{ object.slug }}, product ID {{ object.id }}');
                            console.log(data.time);

                            var removeButton = purchaseBtn.fadeOut(500)
                            var links = (
                                    '<p>Purchase Successfull!<p><br>'
                                    + '<p><a href="{{ object.get_download }}?preview=True">Full Size Preview </a></p>'
                                    + '<form action="{{ object.get_download }}">'
                                    + '<input type="submit" value="Download Media" />'
                                    + "</form>");
                           removeButton.after($(links))


                        });

                        request.fail(function (errorThrown, textStatus, jqXHR) {
                            if (errorThrown.status == 403) {
                                alert('You must be logged in to make purchases')
                                }
                            else if (errorThrown.status == 500) {
                                alert('Sorry, something went wrong with the purchase.\n\n' +
                                        'Please contact IT support')
                                }
                            else {
                                alert(errorThrown.statusText)
                            }
                            console.log(jqXHR);
                            console.log(errorThrown);
                            console.log(textStatus)
                        });

                        $(this).dialog('close')
                    },
                    class: 'buy-btn' {# we add classes to identify this and add custom css to buttons #}
                },
                2: {
                    id: 'cancel',
                    text: 'Cancel',
                    click: function () {
                        $(this).dialog('close')
                    },
                    class: 'cancel-btn'
                }
            }
        })
    });
{% endblock jquery %}
})
</script>


    <h1>{{ greeting }}</h1>
    {#  object is a variable for DetailView class  #}

    <div class="col-primary pull-left">
        <h3>Product: {{ object }}</h3>
        <i>{{ object.description }}</i>
        {% if object.tag_set.all %}
            <p>Tags: {% for tag in object.tag_set.all %}
                {% if tag.active %}
                    <a href="{{ tag.get_absolute_url }}"><i><strong>{{ tag }}</strong></i></a>,
                {% endif %}
            {% endfor %}</p>
        {% endif %}

        {% if object.is_available %}
            {% if object.on_sale %}
                <div id="on-sale"><h3>ON SALE!!!</h3></div>
                <p>Price: ${{ object.sale_price }}</p>
            {% else %}
                <p>Price: ${{ object.price }}</p>
             {% endif %}
         {% else %}
            <div id="unavailable"><h3>Currently Unavailable</h3></div>
        {% endif  %}

        {% if object.transaction_set.count > 0 %}
            <p>Purchased <strong>{{ object.transaction_set.count }}</strong> times</p>
        {% endif %}
        <br>


        {% if  object.thumbnail_set.count > 0 %}
            <h3>Product Thumbnails</h3>
            {% for thumb in object.thumbnail_set.all %}
                <p>{{ thumb.type|upper }}: {{ thumb.height }} x {{ thumb.width }}</p>
                <img src="{{ thumb.media.url }}"/>
                <br>
            {% endfor %}
        {% else %}
            <br>
            <img src="{{ coming_soon|get_thumbnail:'sd' }}">
            <br>
        {% endif %}

        <br>
        {# Show the edit option for product owners and managers  #}
        {% if allowed_to_edit %}
            <form action="{% url 'products:edit' object.id %}">
                <input type="submit" value="Edit Product" />
            </form>
        {% endif %}
    </div>

    <div class="col-sidebar pull-right">
        {# Media has to exist #}
        {# User has to be authenticated #}
        {# And has to have this product in his products to see the download/preview links #}
        {% if object.media and request.user.is_authenticated and object in request.user.myproducts.products.all %}

            <div id="download-links">
                <p><a href="{{ object.get_download }}?preview=True">Full Size Preview </a></p>

                {#  object.get_download here is the same as {% url 'products:download' object.id %} #}
                <form action="{{ object.get_download }}">
                    <input type="submit" value="Download Media" />
                </form>
                <br>
            </div>
        {% else %}
            <p><a id="purchase-btn" href="#">Purchase</a></p>
            <div id="dialog-confirm" title="Confirm Purchase" style="display:none">
                <p>Your card on file will be charged</p>
                <p>Please confirm this purchase</p>
            </div>

        {% endif %}

    </div>

    <div class="clearfix"></div>

    <a href="{% url 'products:list' %}"><br> <<< Back to Product List</a>

{% endblock %}

