{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if apply_form %}

    <form method="POST" action="">{% csrf_token %}
        <h3>Rules of the Marketplace</h3>
        <ol>
            <li>Only upload files you own</li>
            <li>Don't steal</li>
            <li>Blah blah blah</li>
            <li>Yada yada</li>
        </ol>

    {{ apply_form.as_p }}
        <br>
    <input type="SUBMIT" value="Continue"/>
    </form>

    {% endif %}

    {% if products %}
        <div class="pull-right col-sidebar">
            <h2>Available Products</h2>
            {% include 'sellers/product_add_snippet.html' %}
            <br>
            {% include 'products/product_list_snippet.html' with product_list=products %}
        </div>
    {% endif %}

    {% if transactions %}
        <div class="pull-left col-primary">
            <h2>Recent Transactions</h2>
            {% include 'sellers/transaction_list_snippet.html' with transaction_list=transactions  time='since' %}
        </div>
    {% endif %}




{% endblock %}