{% extends 'base.html' %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if apply_form %}

    <form method="POST" action="">{% csrf_token %}
        <h3>Rules of the Marketplace</h3>
        <ol>
            <li>Only upload files you own</li>
            <li>Don't steal</li>
            <li>Blah blah blah</li>
            <li>Yada yada</li>
        </ol>

    {{ apply_form.as_p }}
        <br>
    <input type="SUBMIT" value="Continue"/>
    </form>

    {% endif %}

    {% if products %}
        <div class="pull-right col-sidebar">
            <h2>My Products</h2>
            <strong><a href="{% url 'sellers:product_list' %}">Manage</a></strong> |
            <strong><a href="{% url 'sellers:product_add' %}">Add Product</a></strong>
            <br>
            {# {% include 'sellers/product_add_snippet.html' %}#}
            <br>
            {% include 'products/product_list_snippet.html' with product_list=products %}
        </div>
    {% endif %}


    {# This should always exist as long as there is at least 1 transaction #}
    {% if recent_transactions %}
        <div class="pull-left col-primary">

            {% if transactions_today %}
                <h2>Today's Sales</h2>
                {% include 'sellers/transaction_list_snippet.html' with transaction_list=transactions_today time='detailed' %}

                <p><strong>Total Sales Todays: ${{ sales_today }}</strong></p>
                <br>
            {% endif %}

            <h2>Recent Transactions</h2>
            {% include 'sellers/transaction_list_snippet.html' with transaction_list=recent_transactions  time='since' %}

            <p>
                <a href="{% url 'sellers:transactions' %}">Transaction History and Sales Breakdown</a>
            </p>
        </div>
    {% endif %}




{% endblock %}