{% extends 'base.html' %}

{% block content %}

{#    <div class="pull-left col-primary">#}

        <h1>Transaction History</h1>

            {% include 'sellers/transaction_list_snippet.html' with transaction_list=object_list time='detailed' %}

        <p><strong>Total Sales: ${{ total_sales }}</strong></p>

{#    </div>#}

{#    <div class="pull-right col-sidebar">#}
        <h1>Sales by product</h1>

            {% include 'sellers/sales_by_product_snippet.html' %}

{#    </div>#}
        <br><br>
        <a href="{% url 'sellers:dashboard' %}">Back to Seller Dashboard</a>
{% endblock %}