<table class="table table-bordered">
    <thead>
        <th>Product</th>
        <th>User</th>
        <th>Price</th>
        <th>Purchase Date</th>
    </thead>
    <tbody>
    {% for t in transaction_list %}
    <tr>
        <td>{{ t.product }}</td>
        <td>{{ t.user }}</td>
        <td>${{ t.price }}</td>
        {% if time == 'since' %}
            <td>{{ t.timestamp|timesince }}</td>
        {% elif time == 'detailed' %}
            <td>{{ t.timestamp|date:"SHORT_DATE_FORMAT" }} {{ t.timestamp|date:"H:i:s" }}</td>
        {% endif %}
    </tr>
    {%  endfor %}
    </tbody>
</table>